.slider-wrap .axis text {
  font: 11px sans-serif;
}

.slider-wrap .axis path {
  display: none;
}

.slider-wrap .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.slider-wrap .grid-background {
  fill: #5e6599;
  opacity: 0.9;
}

.slider-wrap .grid line,
.slider-wrap .grid path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.slider-wrap .grid .minor.tick line {
  stroke-opacity: .5;
}

.slider-wrap .brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}