/*Habitat Styles */
#chart {
  width: 600px;
  height: 650px;
  margin: 0 auto;
  background-color: lightblue; /*#92B4CA;*/
}

.land {
  fill: #fff;
  stroke: #ccc;
}

.bgcounty {
  fill: #777;
  stroke: #ccc;
}

.county {
  fill: forestgreen;
  stroke: #ccc;
}

/* Slider styles*/
.slider_wrapper{

}
.axis text {
  font: 11px sans-serif;
}

.axis path {
  display: none;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid-background {
  fill: #ddd;
}

.grid line,
.grid path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.grid .minor.tick line {
  stroke-opacity: .5;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}